@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
      @apply h-auto bg-red-500;
  }
  html,
  body {
      @apply h-auto;
  }
}

* > *{
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-noise {
  background-image: url('../public/assets/noise.png'); /* or use a data URI base64 PNG */
  background-repeat: repeat;
}
